/* Suave comportamiento de desplazamiento en la página */
html {
    scroll-behavior: smooth;
}

/* Estilos generales para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    /* Evitar desplazamiento horizontal */
    background-image: url('/static/img/nuevofondoweb.png');
    /* Imagen de fondo */
    background-size: cover;
    /*100%;*/
    /* La imagen cubrirá toda el área */
    background-position: center;
    /* Centrar la imagen */
    background-repeat: no-repeat;
    /* Evitar repetición de la imagen */
    background-attachment: fixed;
    /* Fijar la imagen de fondo */
}

/* Hover effect for list items */
.tm-list-item:hover {
    transform: scale(1.1) rotate(2deg);
    /* Aumenta el tamaño y rota ligeramente */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
}

/* Menu toggle - Hidden by default, visible on mobile */
.tm-icon-bar {
    display: none;
}

.tm-icon-bar.active {
    display: block;
}

@media (min-width: 768px) {
    .tm-icon-bar {
        display: flex;
        /* Para mostrar el menú en pantallas grandes */
    }
}

/* Barra de navegación general */
.tm-icon-bar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    list-style: none;
}

.tm-icon-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.tm-icon-bar a i {
    margin-right: 10px;
    /* Espacio entre el ícono y el texto */
    font-size: 1.5rem;
    /* Tamaño del ícono */
}

.tm-icon-bar a:hover {
    color: rgb(238, 3, 3);
    /* Cambiar color al pasar el mouse */
}


/* Resetear padding y margin en listas no ordenadas */
ul {
    padding: 0;
    margin: 0;
}

/* Quitar estilo de lista en elementos del menú de navegación */
nav>ul>li {
    list-style: none;
}

/* Estilo general para enlaces */
a {
    color: rgb(16, 179, 51);
    /* Color para los enlaces */
    text-decoration: none;
    transition: all 0.3s ease;
    /* Transición suave al hacer hover */
}

/* Configuración de párrafos */
p {
    line-height: 1.8;
    /* Altura de línea aumentada para legibilidad */
    margin-top: 0;
}

/* Estilo básico para títulos de segundo nivel (h2) */
h2 {
    margin-top: 0;
}

/* Contenedor general */
.tm-container {
    padding: 10px;
}

/* Estilo de filas con distribución flexible */
.tm-row {
    display: flex;
    justify-content: space-between;
    /* Espacio entre elementos */
}



/* Columna derecha (contenido principal) */
.tm-right {
    width: 100%;
    /* Make sure this complements the width of .tm-left */
    align-items: center;
    /* revisar */
}

/* Fijar la navegación lateral izquierda */
.tm-left-inner {
    position: fixed;
    /* Mantiene la posición fija al hacer scroll */
}

/* Cabecera del sitio con una imagen */
.tm-site-header {
    background: url('/static/img/gulamaps-sin-fondo.png') no-repeat center center;
    /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    /* Ajusta la imagen para cubrir el área completa */
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Centra los elementos en horizontal */
    padding: 0 20px;
    /* Elimina el color de fondo para mostrar la imagen */
    color: transparent;
    /* Oculta el texto si ya no es necesario */
}

/* Estilos específicos para la sección de Bares */
.bars-section .tm-list-item {
    background-color: #333333;
    /* Cambia el color de fondo de los bares */
}

.bars-section .tm-list-item-text {
    background-color: #555555;
    /* Cambia el color de fondo de la caja de texto de los bares */
    color: #ffffff;
    /* Cambia el color del texto para que contraste con el fondo */
}

/* Si deseas cambiar también el color del fondo de los enlaces dentro de la sección de Bares */
.bars-section .tm-list-item a {
    color: #ffcc00;
    /* Color de los enlaces dentro de la sección de bares */
}

/* Estilos específicos para la sección de Cafeterías */
.cafes-section .tm-list-item {
    background-color: #5a381d;
    /* Cambia el color de fondo de las cafeterías */
}

.cafes-section .tm-list-item-text {
    background-color: #382512;
    /* Cambia el color de fondo de la caja de texto de las cafeterías */
    color: #ffffff;
    /* Cambia el color del texto para que contraste con el fondo */
}

/* Si deseas cambiar también el color del fondo de los enlaces dentro de la sección de Cafeterías */
.cafes-section .tm-list-item a {
    color: #ffcc00;
    /* Color de los enlaces dentro de la sección de cafeterías */
}


/* Logo del sitio */
.tm-site-logo {
    margin-right: 30px;
}

/* Nombre del sitio */
.tm-site-name {
    font-size: 2.2rem;
    font-style: italic;
}

/* Menú de navegación del sitio */
.tm-left-inner {
    max-width: 200px;
    width: 20%;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

/* Barra de Busqueda */
#search-input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tm-site-nav {
    display: flex;
    justify-content: center;
    /* Centrar la navegación */
    margin-bottom: 20px;
    /* Espacio entre la barra de íconos y la barra de comidas */
}

.tm-site-nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tm-page-nav-item {
    margin: 0 15px;
    /* Espacio entre elementos de la lista */
}

.tm-page-link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    /* Ajustar tamaño de texto */
    color: black;
    /* Color del texto */
    text-decoration: none;
    transition: color 0.3s ease;
}

.tm-page-link-icon {
    margin-right: 10px;
    /* Espacio entre el ícono y el texto */
    font-size: 1.5rem;
    /* Tamaño del ícono */
}

.tm-page-link:hover {
    color: rgb(238, 3, 3);
    /* Cambiar color al pasar el mouse */
}


/* Fondo negro semitransparente */
.tm-black-bg {
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo negro con transparencia */
    color: rgb(238, 240, 112);
    /* Texto en blanco */
}

/* Navegación de bebidas */
.tm-drinks-nav>ul>li {
    display: inline-block;
}

/* Los elementos del menú están en línea */

/* Estilo de los enlaces de la barra de bebidas */
.tm-drinks-nav>ul>li>a {
    color: white;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

/* Altura de la barra de navegación */
.tm-drinks-nav {
    height: 80px;
}

/* Flexbox para alinear los elementos dentro de la barra de navegación */
.tm-drinks-nav>ul {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: space-around;
    /* Espacio uniforme entre los elementos */
    height: 100%;
}

/* Hover y estado activo en la barra de bebidas */
.tm-drinks-nav>ul>li a.active,
.tm-drinks-nav>ul>li a:hover {
    color: #ec1313;
    /* Cambia el color del texto al hacer hover o estar activo */
    border-bottom: 4px solid #ec1313;
    /* Agrega un borde inferior cuando está activo */
}


.tm-list-item {
    /* Establece la posición relativa del elemento para que los elementos hijos puedan posicionarse en relación a él */
    position: relative;

    /* Agrega un espacio alrededor del contenido del elemento */
    padding: 8px;

    /* Define un ancho fijo de 240 píxeles para el elemento */
    width: 240px;

    /* Permite que la altura del elemento se ajuste automáticamente al contenido */
    height: 240px;
    /*auto;*/

    /* Indica que el tamaño del elemento incluye el relleno (padding) y el borde (border) */
    box-sizing: border-box;

    /* Establece un color de fondo blanco para el elemento */
    background: #fff;

    /* Aplica bordes redondeados de 8 píxeles al elemento */
    border-radius: 8px;

    /* Configura el elemento como un contenedor de flexbox con orientación vertical */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items vertically */

    /* Oculta cualquier desbordamiento del contenido dentro del elemento */
    overflow: hidden;

    /* Cambia el cursor del mouse a un cursor de puntero al pasar sobre el elemento */
    cursor: pointer;

    /* Agrega una sombra ligera debajo del elemento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Agrega un margen de 10 píxeles alrededor del elemento */
    margin: 10px;
}

.tm-list-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.tm-list-item h3 {
    margin: 5px;
    font-size: 1rem;
    /* Reducir tamaño del título */
    color: #333;
}

.tm-list-item p {
    margin: 4px;
    /* Reducir margen entre párrafo y título */
    color: #666;
    font-size: 0.9rem;
    /* Reducir tamaño del texto */
}

.tm-list-item-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tm-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Ajustar columnas automáticamente */
    gap: 20px;
    /* Espacio entre las tarjetas */
}

.tm-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    /* Centrar el contenedor */
}

.tm-list-item-2 {
    align-items: flex-start;
}

/*{ align-items: flex-start; }*/


.tm-list-item-img {
    width: 100%;
    height: auto;
    max-width: 140px;
    object-fit: cover;
    /* Esto ajusta la imagen al tamaño sin distorsionarla */
    margin-bottom: 5px;
    /* Limitar el tamaño de las imágenes */
}


/* Texto del producto */
.tm-list-item-img-big {
    margin-right: 25px;
    width: 50px;
    /* 200px */
    height: 200px;
    /* 200px */
}

.tm-list-item-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tm-list-item-text-2 {
    flex: 1;
}

.tm-list-item-name {
    display: grid;
    /*flex*/
    justify-content: space-between;
    margin-top: 0;
}

/* Precio del producto */
.tm-list-item-price {
    color: #ffffff;
    /* Color del precio */
    font-size: 14px;
    /* Este es un ejemplo del tamaño de fuente */
    margin-top: 15px;
    /* Espacio entre el precio y el texto de arriba */
}

/* Pie de página del sitio */
.tm-site-footer {
    margin-top: 15px;
}

.tm-footer-text {
    position: relative;
    /* Prevents overlapping */
    padding: 10px 65px;
    text-align: center;
}




.tm-footer-link {
    color: rgb(255, 255, 255);
}

.tm-tab-content {
    animation: fadeEffect 1s;
}

.tm-page-content {
    animation: fadeEffect 1s;
}

.tm-text-primary {
    color: rgb(252, 0, 0);
}

.tm-mb-20 {
    margin-bottom: 20px;
}

.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-img-right {
    margin-left: 30px;
    margin-right: 0;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

/* About */
.tm-about-box-1 {
    padding: 40px 30px 50px 0;
}

.tm-about-box-2 {
    padding: 50px 40px 30px;
}

.tm-about-header {
    margin-left: 220px;
}

/* Special */
.tm-special-items {
    display: flex;
    flex-wrap: wrap;
    margin: -30px -10px 0;
}

.tm-special-item {
    max-width: 320px;
    margin: 30px 10px;
}

.tm-special-item-title {
    font-size: 1.4rem;
}

.tm-special-item-description {
    padding: 15px 10px;
}

/* Contact */
.tm-contact-text-container {
    padding: 45px 50px;
    margin-bottom: 20px;
}

.tm-contact-form-container {
    max-width: 460px;
    padding: 40px 50px;
    box-sizing: border-box;
}

.tm-form-group {
    margin-bottom: 25px;
}

* {
    box-sizing: border-box;
}


.tm-form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.tm-form-control::-webkit-input-placeholder {
    color: white;
}

/* Edge */
.tm-form-control:-ms-input-placeholder {
    color: white;
}

/* Internet Explorer 10-11 */
.tm-form-control::placeholder {
    color: white;
}

.tm-btn-primary {
    color: rgb(0, 0, 0);
    background-color: white;
    border: 0;
    padding: 12px 40px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover para el botón */
.tm-btn-primary:hover {
    color: white;
    background-color: rgb(255, 0, 0);
    /* Cambia a azul cuando se hace hover */
}

/* Estilos responsivos para pantallas medianas (992px a 1130px) */
.tm-align-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.tm-mb-30 {
    margin-bottom: 30px;
}

/* Ocultar el ícono de menú hamburguesa en pantallas grandes */
.tm-menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Mostrar el menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
    .tm-menu-toggle {
        display: block;
    }

    .tm-icon-bar a {
        display: none;
    }

    .tm-icon-bar.active a {
        display: block;
        text-align: center;
        padding: 10px;
    }
}


@media (max-width: 1130px) and (min-width: 992px) {
    .tm-left-inner {
        max-width: 380px;
    }

    .tm-site-name {
        font-size: 2.6rem;
    }

    .tm-site-logo {
        margin-right: 20px;
    }

    .tm-page-link {
        width: 100%;
    }

    .tm-page-link-icon {
        margin-right: 15px;
    }

    .tm-left {
        width: 45%;
    }

    .tm-right {
        width: 90%;
        justify-content: flex-end;
        /* Correct alignment property */
    }

    /*
    .tm-right {
        width: 55%;
    }
        */
}


/* Estilos para pantallas pequeñas (menor a 991px) */
@media (max-width: 991px) {

    .tm-left,
    .tm-right {
        width: 100%;
        /* Full width on smaller screens */
    }

    .tm-row {
        display: block;
    }
}


@media (max-width: 574px) {
    .tm-site-nav-ul {
        display: block;
    }
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .tm-icon-bar {
        flex-direction: column;
        align-items: center;
    }

    .tm-page-link {
        padding: 10px;
        font-size: 16px;
    }
}

/* Ajuste de la navegación lateral en pantallas pequeñas */
.tm-left {
    display: none;
}

@media (max-width: 768px) {
    .tm-left {
        display: block;
        width: 100%;
        text-align: center;
    }

    .tm-site-nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .tm-site-nav li {
        margin: 10px 0;
    }

    .tm-site-nav a {
        padding: 10px;
        font-size: 18px;
        display: block;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
    }
}

@media (max-width: 550px) and (min-width: 501px) {
    .tm-list-item-img-big {
        width: 160px;
        height: 160px;
    }

    .tm-about-header {
        margin-left: 180px;
    }
}

@media (max-width: 500px) {
    .tm-about-header {
        margin-left: 0;
    }

    .tm-list-item-2 {
        flex-direction: column;
    }

    .tm-about-box-1 {
        padding-left: 30px;
    }

    .tm-list-item-img-big {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .tm-img-right {
        margin-left: 0;
    }
}

@media (max-width: 479px) {
    .tm-site-name {
        font-size: 2.6rem;
    }

    .tm-site-logo {
        margin-right: 20px;
    }

    .tm-list-item {
        flex-direction: column;
        margin-top: 40px;
    }

    .tm-list-item-img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .tm-drinks-nav {
        height: auto;
        margin-top: 80px;
        /* Ajusta según el tamaño de la barra de íconos */
    }

    .tm-drinks-nav>ul {
        flex-direction: column;
        padding: 10px;
        /* 15px */
    }

    .tm-drinks-nav>ul>li {
        margin-bottom: 10px;
    }

    .tm-drinks-nav>ul>li>a {
        display: block;
    }
}