<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gula Maps</title>
  
  <!-- External Libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-wave-cafe.css') }}">
</head>

<body>
  <div class="tm-container">
    <div class="tm-row">
      
      <!-- Sidebar with Navigation -->
      <div class="tm-left">
        <div class="tm-left-inner">
          
          <!-- Site Header -->
          <div class="tm-site-header">
            <i class="fas fa-coffee fa-3x tm-site-logo"></i>
            <h1 class="tm-site-name">Gula Maps</h1>
          </div>
          
          <!-- Navigation Links -->
          <nav class="tm-site-nav">
            <ul class="tm-site-nav-ul">
              <li class="tm-page-nav-item">
                <a href="#food" class="tm-page-link active">
                  <i class="fas fa-mug-hot tm-page-link-icon"></i>
                  <span>Lugares de Comida.</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#about" class="tm-page-link">
                  <i class="fas fa-users tm-page-link-icon"></i>
                  <span>Servicios</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#special" class="tm-page-link">
                  <i class="fas fa-glass-martini tm-page-link-icon"></i>
                  <span>En construcción</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#contact" class="tm-page-link">
                  <i class="fas fa-comments tm-page-link-icon"></i>
                  <span>¡Anunciate con nosotros!</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Main Content -->
      <div class="tm-right">
        <main class="tm-main">

          <!-- Places Section -->
          <div id="food" class="tm-page-content">
            <nav class="tm-black-bg tm-drinks-nav">
              <ul>
                <li><a href="#" class="tm-tab-link active" data-id="resta">Restaurantes</a></li>
                <li><a href="#" class="tm-tab-link" data-id="bar">Bares</a></li>
                <li><a href="#" class="tm-tab-link" data-id="cafe">Cafeterias</a></li>
              </ul>
            </nav>
            
            <!-- Search Bar -->
            <div class="search-bar">
              <input type="text" id="search-input" placeholder="Buscar por nombre...">
            </div>

            <!-- Common Section Template -->
            {% for category, data in [('resta', restaurants), ('bar', bars), ('cafe', cafes)] %}
            <div id="{{ category }}" class="tm-tab-content">
              <div class="tm-list-container">
                {% for place in data %}
                <div class="tm-list-item">
                  <!-- Verificar si hay un icono personalizado -->
                  {% if place['Icono'] is defined %}
                    <img src="static/img/{{ place['Icono'] }}" alt="Image" class="tm-list-item-img">
                  {% else %}
                    <img src="static/img/{{ category }}-logo.png" alt="Image" class="tm-list-item-img">
                  {% endif %}
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">{{ place['Nombre'] }}
                      <span class="tm-list-item-price">
                        <a href="https://wa.me/{{ place['Teléfono']|string|replace(' ', '') }}" target="_blank">Ordenar vía Whatsapp</a>

                      </span>
                    </h3>
                    <p class="tm-list-item-description">Rating: {{ place['Rating'] }}</p>
                    <a href="{{ place['URL del Lugar'] }}">
                      <p class="tm-list-item-description">Ver en Google Maps</p>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            
          </div>

          <!-- About Us Page -->
          <div id="about" class="tm-page-content">
            <div class="tm-black-bg tm-mb-20 tm-about-box-1">
              <h2 class="tm-text-primary tm-about-header">About Wave Cafe</h2>
              <div class="tm-list-item tm-list-item-2">
                <img src="static/img/about-1.png" alt="Image" class="tm-list-item-img tm-list-item-img-big">
                <div class="tm-list-item-text-2">
                  <p>Wave Cafe is a one-page video background HTML CSS template from Tooplate. You can use this for your business websites.</p>
                  <p>You can also use this for your client websites which you get paid for your website services.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Special Items Page -->
          <div id="special" class="tm-page-content">
            <div class="tm-special-items">
              {% for item in special_items %}
              <div class="tm-black-bg tm-special-item">
                <img src="static/img/{{ item['img'] }}" alt="Image">
                <div class="tm-special-item-description">
                  <h2 class="tm-text-primary tm-special-item-title">{{ item['title'] }}</h2>
                  <p class="tm-special-item-text">{{ item['description'] }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- Contact Page -->
          <div id="contact" class="tm-page-content">
            <div class="tm-black-bg tm-contact-text-container">
              <h2 class="tm-text-primary">Contact Wave</h2>
              <p>Wave Cafe Template has a video background. You can use this layout for your websites.</p>
            </div>
            <div class="tm-black-bg tm-contact-form-container tm-align-right">
              <form action="" method="POST" id="contact-form">
                <div class="tm-form-group">
                  <input type="text" name="name" class="tm-form-control" placeholder="Name" required autocomplete="Name" />
                </div>
                <div class="tm-form-group">
                  <input type="email" name="email" class="tm-form-control" placeholder="Email" required autocomplete="Email" />
                </div>
                <div class="tm-form-group tm-mb-30">
                  <textarea rows="6" name="message" class="tm-form-control" placeholder="Message" required></textarea>
                </div>
                <button type="submit" class="tm-btn-primary tm-align-right">Submit</button>
              </form>
            </div>
          </div>

        </main>
      </div>
    </div>

    <!-- Footer -->
    <footer class="tm-site-footer">
      <p class="tm-black-bg tm-footer-text">
        Pto el que lo lea | Dev IG: <a href="https://www.tooplate.com" class="tm-footer-link" rel="sponsored" target="_parent">@talegaman</a>
      </p>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script>
    // Tab Handling
    function openTab(evt, id) {
      $('.tm-tab-content').hide();
      $('#' + id).show();
      $('.tm-tab-link').removeClass('active');
      $(evt.currentTarget).addClass('active');
    }

    // Page Initialization
    function initPage() {
      let pageId = location.hash;
      if (pageId) {
        highlightMenu($(`.tm-page-link[href^="${pageId}"]`));
        showPage($(pageId));
      } else {
        pageId = $('.tm-page-link.active').attr('href');
        showPage($(pageId));
      }
    }

    // Menu Highlight
    function highlightMenu(menuItem) {
      $('.tm-page-link').removeClass('active');
      menuItem.addClass('active');
    }

    // Show Page
    function showPage(page) {
      $('.tm-page-content').hide();
      page.show();
    }

    // Document Ready
    $(document).ready(function () {
      initPage();
      $('.tm-page-link').click(function (event) {
        if (window.innerWidth > 991) event.preventDefault();
        highlightMenu($(event.currentTarget));
        showPage($(event.currentTarget.hash));
      });

      // Tab Navigation
      $('.tm-tab-link').on('click', e => {
        e.preventDefault();
        openTab(e, $(e.currentTarget).data('id'));
      });

      $('#search-input').on('input', function () {
        const searchText = $(this).val().toLowerCase();
        $('.tm-list-item').each(function () {
          const placeName = $(this).find('.tm-list-item-name').text().toLowerCase();
          $(this).toggle(placeName.includes(searchText));
        });
      });
    });
  </script>
</body>

</html>
